@import "variables.sass"

/* Begining of tabs reset */

/deep/ .mat-tab-list
    margin-left: 20px $i

/deep/ .mat-tab-label
    min-width: 0px $i
    border-radius: 5px 5px 0px 0px $i
    margin-right: 2px $i
    font-size: 19px $i
    padding: 0px 12px $i
    opacity: .6 $i

/deep/ .mat-tab-label-active
    opacity: 1 $i

/deep/ .mat-ink-bar
    height: 0 $i
    visibility: hidden $i

/deep/ .mat-tab-header
    border: 0 $i

/deep/ .mat-tab-body-content
    overflow: hidden $i
    padding: 0px 24px 24px 24px $i

/deep/ .mat-tab-body-wrapper
    border-radius: 5px $i
    

/* End of tabs reset */


/* Begining of card reset */

/deep/ .mat-card
    border-radius: 5px $i
    padding: 20px $i

/* End of card reset */


/* Begining of button reset */

/deep/ button
    min-width: 0 $i
    line-height: auto $i
    padding: 0 $i
    align-content: center $i
    justify-content: center $i

/* End of button reset */


/* Begining of input reset */

/deep/ .mat-form-field
    width: 100% $i

/* End of input reset */