@import "variables.sass"

/* Begining of tabs reset */

/deep/ .mat-tab-list
    margin-left: 20px $i

/deep/ .mat-tab-label
    min-width: 0px $i
    border-radius: 5px 5px 0px 0px $i
    margin-right: 2px $i
    font-size: 19px $i
    padding: 0px 12px $i
    opacity: .6 $i

/deep/ .mat-tab-label-active
    opacity: 1 $i

/deep/ .mat-ink-bar
    height: 0 $i
    visibility: hidden $i

/deep/ .mat-tab-header
    border: 0 $i

/deep/ .mat-tab-body-content
    overflow: hidden $i

/deep/ .mat-tab-body-wrapper
    border-radius: 5px $i
    padding: 0px 24px 0px 24px $i
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8 $i
    

/* End of tabs reset */


/* Begining of card reset */

/deep/ .mat-card
    border-radius: 5px $i
    padding: 20px $i
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8 $i


/* End of card reset */


/* Begining of button reset */

/deep/ button
    min-width: 0 $i
    line-height: auto $i
    padding: 0 $i
    align-content: center $i
    justify-content: center $i

/* End of button reset */


/* Begining of input reset */

/deep/ .mat-form-field
    width: 100% $i

/* End of input reset */


/* Begining of menu reset */

/deep/ .mat-menu-panel
    box-shadow: none $i
    padding: 5px $i
    margin: -5px $i
    background: transparent $i
    max-width: none $i
    min-width: none $i

/deep/ .mat-menu-content
    padding: 0 $i

/* End of menu reset */


/* Begining of tooltip reset */

/deep/ .mat-tooltip
    font-size: 25px $i
    padding-top: 5px $i
    padding-bottom: 6px $i

/* End of tooltp reset */


/* Begining of dialog reset */

/deep/ .mat-dialog-container
    border-radius: 5px $i

/* End of dialog reset */


/* Begining of button reset */

/deep/ .mat-button-wrapper
    display: flex $i
    align-items: center $i
    justify-content: center $i
    line-height: 0px $i
    padding: 0 !important

/* End of button reset */


/deep/ input
    font: inherit
    background: 0 0
    border: none
    border-bottom: 1px solid rgba(0, 0, 0, .42)
    outline: 0
    padding: 10px
    margin: 0
    width: calc(100% - 20px)
    font-family: $m-font $i

/deep/ input:focus
    border-bottom: 1px solid $s-color

/deep/ form
    position: relative
    input
        margin-bottom: 20px
    select
        margin-bottom: 20px

/deep/ input, input:before, input:after
    -webkit-user-select: initial $i
    -khtml-user-select: initial $i
    -moz-user-select: initial $i
    -ms-user-select: initial $i
    user-select: initial $i


/deep/ select
    font: inherit 
    background: 0 0 
    border: none 
    border-bottom: 1px solid rgba(0, 0, 0, .42) 
    outline: 0 
    padding: 10px 
    margin: 0 
    width: 100%
    font-family: $m-font $i

/deep/ select:focus
    border-bottom: 1px solid $s-color

/deep/ body
    overflow: hidden

/deep/ workspace
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
