@import "variables.sass"

/deep/ .mat-tab-label
    background-color: $l-color $i

*
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    -webkit-user-select: none
    user-select: none