:host >>> .mat-dialog-container {
    max-width: none;
    border-radius: 5px;
}

:host >>> .mat-menu-content {
    padding: 0 !important;
}

:host >>> .mat-menu-panel {
    padding: 2px;
}

:host >>> .mat-menu-panel.mat-menu-after.mat-menu-below {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

:host >>> .mat-menu-panel.mat-menu-before.mat-menu-below {
    margin-right: 0 !important;
    margin-top: 0 !important;
}

:host >>> .mat-menu-panel.mat-menu-after.mat-menu-below {
    margin-left: -51px !important;
    margin-top: 55px !important;
}

:host >>> .mat-menu-panel.mat-menu-before.mat-menu-below {
    margin-right: -51px !important;
    margin-top: 55px !important;
}

.non-centered-right-menu {
    margin-right: 45px !important;
}

.non-centered-left-menu {
    margin-left: 45px !important;
}

.dialog {
    display: flex;
}

.terms {
    display: flex;
    position: relative;
}

.terms-result {
    flex-direction: column;
    max-height: 70vh;
    max-width: 80vw;
    overflow: auto;
    padding-left: 15px;
}

.term {
    display: flex;
}

.term-margin {
    margin-top: 2px;
}

.term button {
    min-width: 0;
    padding: 0;
    font-size: 45px;
    width: 40px;
    height: 54px;
    color: #2f3332;
    line-height: 0;
    border-radius: 5px;
    margin: 1px 2px;
}

.term .fresh {
    background-color: #427a8d;
}

.remember {
    margin-right: 44px;
    height: 31px;
}

.remember-intermediate {
    margin-top: 7px;
    margin-left: 0px !important;
}

.remember button {
    height: 25px;
    font-size: 20px;
}

.result {
    margin-top: 5px;
    margin-left: 0;
    height: 60px;
}

.actions {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.actions button {
    margin-bottom: 10px;
    background-color: #f2f2f2;
    color: #2f3332;
    padding: 6px 6px;
}

.but {
    display: flex;
    position: relative;
}

.answer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    flex-wrap: wrap;
    padding: 5px !important;
    background-color: #427a8d;
    border-radius: 5px;
}

.answer-buttons button {
    min-width: 40px;
    padding: 0;
    font-size: 35px;
    width: 40px;
    height: 40px;
    color: #2f3332;
    line-height: 0;
    margin: .5px;
    border-radius: 5px;
}

.primary {
    background-color: #ed7e28 !important;
    color: white !important;
}

.rem-menu {
    margin-top: 30px;
}

.cancel {
    background-color: #2f3332 !important;
    color: #f2f2f2 !important;
}

.done {
    background-color: #ed7e28 !important;
    color: #f2f2f2 !important;
}

.selected {
    border: #ed7e28 2px solid;
}

.decade-margin {
    margin-right: 10px;
}

.fresh-primary {
    background-color: #ed7e28 !important;
}

.remember-dotted {
    margin-right: 103px !important;
}

.result-dotted {
    margin-right: 44px !important;
    margin-left: 40px !important;
}

.additional-dot-element {
    visibility: hidden;
    width: 10px !important;
}

.dot-element {
    width: 10px !important;
    color: #2f3332 !important;
}

.result-p {
    font-size: 45px;
    width: 0px;
    bottom: 1px;
    left: 39px;
    position: absolute;
    color: #2f3332;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #2f3332;
    border-radius: 40%;
    margin-top: 5px;
}

.horizontal-line {
    height: 2px;
    width: 100%;
    background-color: #2f3332;
}

.horizontal-dot-line {
    height: 2px;
    width: 14px;
    background-color: #2f3332;
}

.horizontal-button-line {
    height: 2px;
    width: 44px;
    background-color: #2f3332;
}

.inv-minus {
    width: 20px;
}

.minus {
    width: 10px;
}

.minus-div {
    align-items: center;
    display: flex;
    padding-right: 6px;
}

.inv {
    background-color: transparent;
    visibility: hidden;
}

.vertical-line {
    width: 2px;
    background-color: #2f3332;
}

.operator {
    position: absolute;
    left: 24px;
    top: 82px;
    font-size: 30px;
    color: #2f3332;
    font-family: monospace;
}