@import "../../../../assets/css/dashboard.css"
@import "../../../../../sass/variables.sass"

.user-card
    border-radius: 0px $i
    margin: 10px 0
    display: flex

.user-image
    background-size: cover
    background-position: center
    height: 117px
    width: 117px
    border-radius: 50%
    box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.82) $i

.user-actions
    margin-left: 20px

.category-header
    text-align: center

.no-friends
    visibility: hidden
    height: 0px

.category-header
    margin: 20px

.kek
    margin: 5px 0px 10px 4px