<mat-tab-group>
    <mat-tab class="tabs" [label]="language[lang].students">
        <div class="tab">
            <div class="search">
                <form>
                    <input type="text" [placeholder]="language[lang].searchUser" [(ngModel)]="name" name="search" value="">
                </form>
            </div>
            <div class="tab-content">
                <div *ngIf="!loading">
                    <div class="no-friends" *ngIf="1 == 0">
                        <p class="search-info">{{language[lang].friendTip}}</p>
                        <button mat-mini-fab (click)="searchDialog()" [matTooltip]="language[lang].search" matTooltipPosition="below"><mat-icon >search</mat-icon></button>
                    </div>
                    <div class="cards">
                        <div *ngFor="let user of students.accepted; let i = index" class="card">
                            <user-card type="accepted" [user]="user"></user-card>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading && students.incomReq.length != 0">
                    <h1 class="category-header">{{language[lang].incom}}</h1>
                    <div class="cards">
                        <div *ngFor="let user of students.incomReq; let i = index" class="card">
                            <user-card type="incom" [user]="user"></user-card>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading && students.outcomReq.length != 0">
                    <h1 class="category-header">{{language[lang].outg}}</h1>
                    <div class="cards">
                        <div *ngFor="let user of students.outcomReq; let i = index" class="card">
                            <user-card type="outcom" [user]="user"></user-card>
                        </div>
                    </div>
                </div>
                <mat-spinner *ngIf="loading"></mat-spinner>
            </div>
        </div>
    </mat-tab>
    <mat-tab class="tabs" [label]="language[lang].teachers">
        <div class="tab">
            <div class="search">
                <form>
                    <input type="text" [placeholder]="language[lang].searchUser" [(ngModel)]="name" name="search" value="">
                </form>
            </div>
            <div class="tab-content">
                <div *ngIf="!loading">
                    <div class="no-friends" *ngIf="1 == 0">
                        <p class="search-info">{{language[lang].friendTip}}</p>
                        <button mat-mini-fab (click)="searchDialog()" [matTooltip]="language[lang].search" matTooltipPosition="below"><mat-icon >search</mat-icon></button>
                    </div>
                    <div class="cards">
                        <div *ngFor="let user of teachers.accepted; let i = index" class="card">
                            <user-card type="accepted" [user]="user"></user-card>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading && teachers.incomReq.length != 0">
                    <h1 class="category-header">{{language[lang].incom}}</h1>
                    <div class="cards">
                        <div *ngFor="let user of teachers.incomReq; let i = index" class="card">
                            <user-card type="incom" [user]="user"></user-card>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading && teachers.outcomReq.length != 0">
                    <h1 class="category-header">{{language[lang].outg}}</h1>
                    <div class="cards">
                        <div *ngFor="let user of teachers.outcomReq; let i = index" class="card">
                            <user-card type="outcom" [user]="user"></user-card>
                        </div>
                    </div>
                </div>
                <mat-spinner *ngIf="loading"></mat-spinner>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>