@charset "UTF-8";
@import "../../../../assets/css/workspace.css";
@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url("https://fonts.googleapis.com/css?family=Itim");
@font-face {
  font-family: "scwlsWorkspace";
  src: url("../../../../assets/fonts/scwlsWorkspace.eot?yezmmz");
  src: url("../../../../assets/fonts/scwlsWorkspace.eot?yezmmz#iefix") format("embedded-opentype"), url("../../../../assets/fonts/scwlsWorkspace.woff2?yezmmz") format("woff2"), url("../../../../assets/fonts/scwlsWorkspace.ttf?yezmmz") format("truetype"), url("../../../../assets/fonts/scwlsWorkspace.woff?yezmmz") format("woff"), url("../../../../assets/fonts/scwlsWorkspace.svg?yezmmz#scwlsWorkspace") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=i-], [class*=" i-"] {
  font-family: "scwlsWorkspace" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-one:before {
  content: "";
}

.i-two:before {
  content: "";
}

.i-three:before {
  content: "";
}

.i-four:before {
  content: "";
}

.i-five:before {
  content: "";
}

.i-six:before {
  content: "";
}

.i-seven:before {
  content: "";
}

.i-eight:before {
  content: "";
}

.i-nine:before {
  content: "";
}

.i-zero:before {
  content: "";
}

.i-plus:before {
  content: "";
}

.i-minus:before {
  content: "";
}

.i-mult:before {
  content: "";
}

.i-divide:before {
  content: "";
}

.i-equal:before {
  content: "";
}

.i-dot:before {
  content: "";
}

.i-comma:before {
  content: "";
}

.i-cursour:before {
  content: "";
}

.i-root:before {
  content: "";
}

.i-rootlong:before {
  content: "";
}

.i-roottop:before {
  content: "";
}

.i-rootend:before {
  content: "";
}

.i-roottopend:before {
  content: "";
}

.i-rootmiddlelongsvg:before {
  content: "";
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes cursor {
  0% {
    fill: black;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: black;
  }
}
#cursor {
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: text;
}

#list {
  cursor: text;
}

#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ui {
  position: fixed;
  padding: 0.2vw !important;
}

.ui .mat-icon, .ui .i-font {
  height: auto !important;
  width: auto !important;
  font-size: 5vw !important;
}

.squareSingle {
  width: 7vw;
  height: 7vw;
}

.squareSingle button {
  width: 100%;
  height: 100%;
}

.zIn {
  top: 1vw;
  right: 2vw;
}

.zOut {
  top: 1vw;
  left: 1vw;
}

#fullscreen {
  top: 11vw;
  right: 2vw;
}

.exitToApp {
  top: 21vw;
  right: 2vw;
}

.download {
  bottom: 2vw;
  left: 1vw;
}

.keyboard {
  display: flex;
}

.termsCard {
  bottom: 2vw;
  left: 1vw;
  width: auto;
  height: auto;
}

.termsList {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.termsList h3 {
  margin: 0 5px;
}

.termsActions {
  margin: 0 10px;
  display: flex;
  margin-bottom: 10px !important;
}

.termsActions > div {
  margin: 0 5px;
}

#numbers {
  bottom: 2vw;
  right: 2vw;
}

#operators {
  bottom: 2vw;
  right: 20vw;
}

#advOperators {
  bottom: 14.5vw;
  right: 20vw;
}

.tools {
  left: 1vw;
  top: 15vw;
  display: flex;
  flex-direction: column;
}

.selectedTool {
  background-color: #fff;
  color: #ed7e28;
}

.tools button, #operators button, #advOperators button {
  margin: 0.1vw;
  transition: all 0.5s;
  padding: 0.4vw 0 !important;
  flex: 1;
}

#numbers button {
  margin: 0.2vw;
  padding: 0.4vw 0.8vw !important;
  flex: 1;
}

#cover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin: auto;
  display: block;
  transition: all 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.touch {
  touch-action: none !important;
  cursor: move;
}

circle {
  cursor: pointer;
}

/*# sourceMappingURL=workspace.component.css.map */
