@import "../../../../assets/css/workspace.css"
@import "../../../../../sass/variables.sass"

@font-face 
  font-family: 'scwlsWorkspace'
  src:  url('../../../../assets/fonts/scwlsWorkspace.eot?yezmmz')
  src:  url('../../../../assets/fonts/scwlsWorkspace.eot?yezmmz#iefix') format('embedded-opentype'), url('../../../../assets/fonts/scwlsWorkspace.woff2?yezmmz') format('woff2'), url('../../../../assets/fonts/scwlsWorkspace.ttf?yezmmz') format('truetype'), url('../../../../assets/fonts/scwlsWorkspace.woff?yezmmz') format('woff'), url('../../../../assets/fonts/scwlsWorkspace.svg?yezmmz#scwlsWorkspace') format('svg')
  font-weight: normal
  font-style: normal


[class^="i-"], [class*=" i-"]
  font-family: 'scwlsWorkspace' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.i-one:before 
  content: "\e900"

.i-two:before 
  content: "\e901"

.i-three:before 
  content: "\e902"

.i-four:before 
  content: "\e903"

.i-five:before 
  content: "\e904"

.i-six:before 
  content: "\e905"

.i-seven:before 
  content: "\e906"

.i-eight:before 
  content: "\e907"

.i-nine:before 
  content: "\e908"

.i-zero:before 
  content: "\e909"

.i-plus:before 
  content: "\e90a"

.i-minus:before 
  content: "\e90b"

.i-mult:before 
  content: "\e90c"

.i-divide:before 
  content: "\e90d"

.i-equal:before 
  content: "\e90e"

.i-dot:before 
  content: "\e90f"

.i-comma:before 
  content: "\e910"

.i-cursour:before 
  content: "\e911"

.i-root:before 
  content: "\e912"

.i-rootlong:before 
  content: "\e913"

.i-roottop:before 
  content: "\e914"

.i-rootend:before 
  content: "\e915"

.i-roottopend:before 
  content: "\e916"

.i-rootmiddlelongsvg:before 
  content: "\e917"


.flex-row
  display: flex

.flex-column
  display: flex
  flex-direction: column


@keyframes cursor
  0%
    fill: black
  50%
    fill: transparent
  100%
    fill: black

#cursor
    animation-name: cursor
    animation-duration: 1s
    animation-iteration-count: infinite
    cursor: text

#list
  cursor: text

#main
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.ui
  position: fixed
  padding: 0.2vw $i

.ui .mat-icon, .ui .i-font 
  height: auto $i
  width: auto $i
  font-size: 5vw $i

.squareSingle
  width: 7vw
  height: 7vw

.squareSingle button
  width: 100%
  height: 100%

.zIn
  top: 1vw
  right: 2vw

.zOut
  top: 1vw
  left: 1vw

#fullscreen
  top: 11vw
  right: 2vw

.exitToApp
  top: 21vw
  right: 2vw

.keyboard
  display: flex

.termsCard
  bottom: 2vw
  left: 1vw
  width: auto
  height: auto

.termsList
  display: flex
  justify-content: center
  margin: 10px 0

.termsList h2
  margin: 0 5px


.termsActions
  margin: 0 10px
  display: flex
  margin-bottom: 10px $i

.termsActions>div
  margin: 0 5px


#numbers
  bottom: 2vw
  right: 2vw

#operators
  bottom: 2vw
  right: 20vw

.tools
  left: 1vw
  top: 15vw
  display: flex
  flex-direction: column

.selectedTool
  background-color: #fff
  color: #ed7e28

.tools button, #operators button
  margin: 0.1vw
  transition: all 0.5s
  padding: 0.4vw 0 !important
  flex: 1

#numbers button
  margin: 0.2vw
  padding: 0.4vw 0.8vw !important
  flex: 1

#cover
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75)
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75)
  margin: auto
  display: block
  transition: all 0.5s
  margin-top: 10px
  margin-bottom: 10px
  
.touch
  touch-action: none !important
  cursor: move

circle
  cursor: pointer


/deep/.expression
  fill: transparent
  stroke-width: 1.5
  stroke-linecap: round
  stroke-linejoin: round
  stroke-miterlimit: 10

/deep/.expression:hover
  stroke: #F15A24
  cursor: pointer

/deep/text, /deep/line
  user-select: none
  cursor: pointer

/deep/.handler
  fill: #FFFFFF
  stroke: #F15A24
  stroke-width: 1.5
  stroke-linecap: round
  stroke-linejoin: round
  stroke-miterlimit: 10

/deep/.arrow
  fill: none
  stroke: #000000
  stroke-linecap: round
  stroke-linejoin: round
  stroke-miterlimit: 10
  cursor: move