<!--<div class="keyboard">
    <div class="button">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <svg:rect width="70%" height="70%" x="3px" y="3px" rx="10px" ry="10px" filter="url(#blurFilter)" class="p-button" />
        </svg>
    </div>

    <div class="button">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <svg:rect width="70%" height="70%" x="3px" y="3px" rx="10px" ry="10px" filter="url(#blurFilter)" class="s-button" />
        </svg>
    </div>

    <div class="button">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <svg:rect width="70%" height="70%" x="3px" y="3px" rx="10px" ry="10px" filter="url(#blurFilter)" class="l-button" />
        </svg>
    </div>

    <div class="button">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <svg:rect width="70%" height="70%" x="3px" y="3px" rx="10px" ry="10px" filter="url(#blurFilter)" class="w-button" />
        </svg>
    </div>
</div>
-->

<style>
    svg {
        height: auto !important;
        width: auto !important;
        background-color: #f2f2f2;
        margin: auto;
    }
    
    .compass {
        fill: #fff;
        stroke: #000;
        stroke-width: 1.5;
    }
    
    .button {
        fill: #225EA8;
        stroke: #0C2C84;
        stroke-miterlimit: 6;
        stroke-linecap: round;
    }
    
    .button:hover {
        stroke-width: 2;
    }
    
    .plus-minus {
        fill: #fff;
        pointer-events: none;
    }
</style>

<div style="display: flex">
    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" [attr.width]="wWidth" [attr.height]="wHeight" id="workspace">

    
        <!--<g class="draggable" #mapmatrix transform="matrix(1 0 0 1 0 0)" width="480" height="320" fill="green" (drag)="drag()" (dragstart)="dragover()" (drop)="drop()" (mousedown)="selectElement($event)" (mousemove)="moveElement($event)" (mouseup)="deselectElement()"> 
            <rect [attr.x]="0" [attr.y]="0" width="100%" height="100%" fill="orange"/>
            <svg:rect class="draggable" [attr.x]="wWidth / 2 - 100" [attr.y]="wHeight / 2 - 50" width="200" height="100" fill="red" />
            <text x = "40" y = "70" font-family = "Calibri Light" font-size = "50" fill="black">
                    Листик с домашкой #{{id}}
                  </text>
        </g>-->

        <g class="draggable" #mapmatrix transform="matrix(1 0 0 1 0 0)" width="480" height="320" fill="green"> 
            <rect [attr.x]="0" [attr.y]="0" width="100%" height="100%" fill="orange"/>
            <svg:rect class="draggable" [attr.x]="wWidth / 2 - 100" [attr.y]="wHeight / 2 - 50" width="200" height="100" fill="red" />
            <text x = "40" y = "70" font-family = "Calibri Light" font-size = "50" fill="black">
                    Листик с домашкой #{{id}}
                  </text>
        </g>

        <path class="button" (click)="pan(0, -50)" d="M100 10 l12 20 a40, 70 0 0,0 -24, 0z" />
        <path class="button" (click)="pan(-50, 0)" d="M50 84 l20 -12 a70, 40 0 0,0 0, 24z" />
        <path class="button" (click)="pan(0, 50)" d="M100 155 l12 -20 a40, 70 0 0,1 -24, 0z" />
        <path class="button" (click)="pan(50, 0)" d="M150 84 l-20 -12 a70, 40 0 0,1 0, 24z" />      
            
        <circle class="button"  cx="100" cy="60" r="20" (click)="zoom(0.8)"/>
        <circle class="button"  cx="100" cy="105" r="20" (click)="zoom(1.25)"/>
        
        <rect class="plus-minus" x="96" y="59" width="8" height="3"/>
        <rect class="plus-minus" x="96" y="104" width="8" height="3"/>
        <rect class="plus-minus" x="98.5" y="101.6" width="3" height="8"/>  
     
    </svg>
</div>