:host >>> .mat-dialog-container {
    max-width: none;
    border-radius: 5px;
}

:host >>> .mat-menu-content {
    padding: 0 !important;
}

:host >>> .mat-menu-panel {
    padding: 2px;
}

:host >>> .mat-menu-panel.mat-menu-after.mat-menu-below {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

:host >>> .mat-menu-panel.mat-menu-before.mat-menu-below {
    margin-right: 0 !important;
    margin-top: 0 !important;
}

:host >>> .mat-menu-panel.mat-menu-after.mat-menu-below {
    margin-left: -51px !important;
    margin-top: -2px !important;
}

:host >>> .mat-menu-panel.mat-menu-before.mat-menu-below {
    margin-right: -51px !important;
    margin-top: -2px !important;
}

.non-centered-right-menu {
    margin-right: 45px !important;
}

.non-centered-left-menu {
    margin-left: 45px !important;
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.term {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 44px;
}

.term button {
    min-width: 0;
    padding: 0;
    font-size: 45px;
    width: 40px;
    height: 54px;
    color: #2f3332;
    line-height: 0;
    border-radius: 5px;
    margin: 1px 2px;
}

.term .fresh {
    background-color: #427a8d;
}

.remember {
    margin-right: 44px;
    height: 31px;
}

.remember-intermediate {
    margin-top: 7px;
    margin-left: 0px !important;
}

.remember button {
    height: 25px;
    font-size: 20px;
}

.result {
    margin-top: 5px;
    margin-left: 0;
    height: 60px;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.actions button {
    background-color: #f2f2f2;
    color: #2f3332;
    padding: 6px 16px;
}

.but {
    display: flex;
    position: relative;
}

.answer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    flex-wrap: wrap;
    padding: 5px !important;
    background-color: #427a8d;
    border-radius: 5px;
}

.answer-buttons button {
    min-width: 40px;
    padding: 0;
    font-size: 35px;
    width: 40px;
    height: 40px;
    color: #2f3332;
    line-height: 0;
    margin: .5px;
    border-radius: 5px;
}

.primary {
    background-color: #ed7e28 !important;
    color: white !important;
}

.rem-menu {
    margin-top: 30px;
}

.cancel {
    background-color: #2f3332 !important;
    color: #f2f2f2 !important;
}

.done {
    background-color: #ed7e28 !important;
    color: #f2f2f2 !important;
}

.selected {
    border: #ed7e28 2px solid;
}

.decade-margin {
    margin-right: 10px;
}

.fresh-primary {
    background-color: #ed7e28 !important;
}

.remember-dotted {
    margin-right: 103px !important;
}

.result-dotted {
    margin-right: 44px !important;
    margin-left: 40px !important;
}

.additional-dot-element {
    visibility: hidden;
    width: 10px !important;
}

.dot-element {
    width: 10px !important;
    color: #2f3332 !important;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #2f3332;
    border-radius: 40%;
    margin-top: 5px;
}

.operator {
    position: absolute;
    left: 24px;
    top: 65px;
    font-size: 30px;
    color: #2f3332;
    font-family: monospace;
}

.field {
    flex: 1;
    display: flex;
}

.field button {
    min-width: 0px !important;
}

.exit-actions button {
    width: 100% !important;
}