@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url("https://fonts.googleapis.com/css?family=Itim");
/* Begining of tabs reset */
/deep/ .mat-tab-list {
  margin-left: 20px !important; }

/deep/ .mat-tab-label {
  min-width: 0px !important;
  border-radius: 5px 5px 0px 0px !important;
  margin-right: 2px !important;
  font-size: 19px !important;
  padding: 0px 12px !important;
  opacity: 0.6 !important; }

/deep/ .mat-tab-label-active {
  opacity: 1 !important; }

/deep/ .mat-ink-bar {
  height: 0 !important;
  visibility: hidden !important; }

/deep/ .mat-tab-header {
  border: 0 !important; }

/deep/ .mat-tab-body-content {
  overflow: hidden !important; }

/deep/ .mat-tab-body-wrapper {
  border-radius: 5px !important;
  padding: 0px 24px 0px 24px !important;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8 !important; }

/* End of tabs reset */
/* Begining of card reset */
/deep/ .mat-card {
  border-radius: 5px !important;
  padding: 20px !important;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8 !important; }

/* End of card reset */
/* Begining of button reset */
/deep/ button {
  min-width: 0 !important;
  line-height: auto !important;
  padding: 0 !important;
  align-content: center !important;
  justify-content: center !important; }

/* End of button reset */
/* Begining of input reset */
/deep/ .mat-form-field {
  width: 100% !important; }

/* End of input reset */
/* Begining of menu reset */
/deep/ .mat-menu-panel {
  box-shadow: none !important;
  padding: 5px !important;
  margin: -5px !important;
  background: transparent !important;
  max-width: none !important;
  min-width: none !important; }

/deep/ .mat-menu-content {
  padding: 0 !important; }

/* End of menu reset */
/* Begining of tooltip reset */
/deep/ .mat-tooltip {
  font-size: 25px !important;
  padding-top: 5px !important;
  padding-bottom: 6px !important; }

/* End of tooltp reset */
/* Begining of dialog reset */
/deep/ .mat-dialog-container {
  border-radius: 5px !important; }

/* End of dialog reset */
/deep/ input {
  font: inherit;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  outline: 0;
  padding: 10px;
  margin: 0;
  width: calc(100% - 20px);
  font-family: "Exo 2", sans-serif !important; }

/deep/ input:focus {
  border-bottom: 1px solid #ed7e28; }

/deep/ form {
  position: relative; }
  /deep/ form input {
    margin-bottom: 20px; }
  /deep/ form select {
    margin-bottom: 20px; }

/deep/ input, input:before, input:after {
  -webkit-user-select: initial !important;
  -khtml-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  user-select: initial !important; }

/deep/ select {
  font: inherit;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  outline: 0;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-family: "Exo 2", sans-serif !important; }

/deep/ select:focus {
  border-bottom: 1px solid #ed7e28; }

/deep/ body {
  overflow: hidden; }

/deep/ workspace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/*# sourceMappingURL=app.css.map */
