<div class="sidenav-menu">
    <button [routerLink]="['lists']" md-fab [mdTooltip]="language[lang].tasks" mdTooltipPosition="after" class="sidenav-button"><md-icon>description</md-icon></button>
    <button [routerLink]="['marks']" md-fab [mdTooltip]="language[lang].journal" mdTooltipPosition="after" class="sidenav-button"><md-icon>insert_invitation</md-icon></button>
    <button [routerLink]="['users']" md-fab [mdTooltip]="language[lang].pupils" mdTooltipPosition="after" class="sidenav-button"><md-icon>people</md-icon></button>
    <button [routerLink]="['im']" md-fab [mdTooltip]="language[lang].messages" mdTooltipPosition="after" class="sidenav-button"><md-icon>email</md-icon></button>
</div>