<div *ngIf="!landing" class="back">
    <!-- <mat-card class="header">
        <div class="header-left">
            <div class="logo"></div>
        </div>
        <div class="header-right">
            <mat-card class="login-card">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </form>
            </mat-card>
        </div>
    </mat-card>-->

    <div class="content">
        <mat-card class="intro flex-column">
            <span class="title">
                Добро Пожаловать!
            </span>
            <span class="sub-title" style="margin-top: 10px;">
                Приветствуем Вас на портале "Scrawlless"!
            </span>
            <div class="video-content">
                <iframe class="video" src="https://www.youtube.com/embed/nNXGbQ_rubQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </mat-card>
        <mat-tab-group class="auth">
            <mat-tab [label]="language[lang].reg">
                <mat-card>
                    <form>
                        <input [ngStyle]="{'border-bottom': invalidFirstName ? '1px solid red' : '' }" (focusout)="validForm('firstName')"
                            [placeholder]="language[lang].name" [(ngModel)]="user.firstName" name="first" value="">
                        <input [ngStyle]="{'border-bottom': invalidLastName ? '1px solid red' : '' }" (focusout)="validForm('lastName')"
                            [placeholder]="language[lang].sname" [(ngModel)]="user.lastName" name="last" value="">
                        <input [ngStyle]="{'border-bottom': invalidEmail ? '1px solid red' : '' }" type="email"
                            (focusout)="validForm('email')" [placeholder]="language[lang].email" [(ngModel)]="user.email"
                            name="mail" value="">
                        <input [ngStyle]="{'border-bottom': invalidPassword ? '1px solid red' : '' }" type="password"
                            (focusout)="validForm('pass')" [placeholder]="language[lang].pass" [(ngModel)]="user.password"
                            name="pass" value="">
                    </form>
                    <p class="form-error" [innerHtml]="regValidationError"></p>
                    <button *ngIf="!loading" class="auth-button" mat-fab [matTooltip]="language[lang].log"
                        matTooltipPosition="left" (click)="register()">
                        <mat-icon>create</mat-icon>
                    </button>
                    <mat-spinner *ngIf="loading"></mat-spinner>
                </mat-card>
            </mat-tab>
            <mat-tab [label]="language[lang].sign">
                <mat-card>
                    <form>
                        <input [ngStyle]="{'border-bottom': invalidEmail ? '1px solid red' : '' }" type="email"
                            (focusout)="validForm('logEmail')" [placeholder]="language[lang].email" [(ngModel)]="user.email"
                            name="mail" value="">
                        <input [ngStyle]="{'border-bottom': invalidPassword ? '1px solid red' : '' }" type="password"
                            (focusout)="validForm('logPass')" [placeholder]="language[lang].pass" [(ngModel)]="user.password"
                            name="pass" value="">
                    </form>
                    <p class="form-error" [innerHtml]="validationError"></p>
                    <p class="form-error">{{ loginError }}</p>
                    <button id="loginForm" *ngIf="!loading" class="auth-button" mat-fab [matTooltip]="language[lang].sup"
                        matTooltipPosition="left" (click)="login()">
                        <mat-icon id="loginForm">forward</mat-icon>
                    </button>
                    <mat-spinner *ngIf="loading"></mat-spinner>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>

    <mat-card class="first second flex-row">
        <div class="flex-column" style="flex: 2;">
            <span class="title">
                Полное погружение
            </span>
            <span class="sub-title">
                Никаких калькуляторов! Без халявы! Отработка базовых вещей, таких как устный счёт, счёт в столбик и
                другое!
            </span>
        </div>
        <div class="demo-column" style="flex: 1; display: flex; justify-content: center;">
            <mat-card>
                <mat-card class="absLabel">
                    Попробуй сам!
                </mat-card>
                <mul-column [terms]="[789,56]" [parentPage]="'index'" [setOperation]="'mul'"></mul-column>
            </mat-card>
        </div>
    </mat-card>

    <mat-card class="second flex-row">
        <h3>Basic Buttons</h3>
        <div class="example-button-row">
            <button mat-button>Basic</button>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disabled</button>
            <a mat-button routerLink=".">Link</a>
        </div>

        <h3>Raised Buttons</h3>
        <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button routerLink=".">Link</a>
        </div>

        <h3>Stroked Buttons</h3>
        <div class="example-button-row">
            <button mat-stroked-button>Basic</button>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Accent</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled>Disabled</button>
            <a mat-stroked-button routerLink=".">Link</a>
        </div>
    </mat-card>

    <mat-card class="second flex-row">
        <div class="flex-column" style="flex: 2;">
            <span class="title">
                Алгебра любой сложности
            </span>
            <span class="sub-title">
                Нужно решить множество примеров с корнями, дробями или другими сложными примерами? Не проблема! Работа
                с нелинейными выражениями ещё никогда не была такой простой!
            </span>
        </div>
        <div class="demo-column" style="flex: 1; display: flex; justify-content: center;">
            <mat-card>
                <mat-card class="absLabel">
                    Попробуй сам!
                </mat-card>
                <mul-column [terms]="[789,56]" [parentPage]="'index'" [setOperation]="'mul'"></mul-column>
            </mat-card>
        </div>
    </mat-card>

    <mat-card class="second flex-row">
        <div class="flex-column">
            <span class="title">
                Всегда под рукой
            </span>
            <span class="sub-title">
                Работа нон-стоп с различных устройств. Не требует установки или настройки. Просто войди в свой аккаунт
                и вперёд!
            </span>
        </div>
        <img class="devices-img" src="../../../assets/img/landing_devices.png">
    </mat-card>
    <mat-card class="footer">
        <div class="social">
            <a href="https://vk.com/scrawlless" target="_blank">
                <button mat-button>
                    <img class="icon" src="../../../assets/img/vk.svg" alt="VK">
                </button>
            </a>
            <a href="https://facebook.com/scrawlless/" target="_blank">
                <button mat-button>
                    <img class="icon" src="../../../assets/img/facebook.svg" alt="Facebook">
                </button>
            </a>
            <a href="https://ok.ru/group/53562840252602" target="_blank">
                <button mat-button>
                    <img class="icon" src="../../../assets/img/ok.svg" alt="OK.ru">
                </button>
            </a>
        </div>
    </mat-card>
</div>