@import "../../../../assets/css/index.css";
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.formSpinner {
  height: 56px !important;
  width: 56px !important;
}

.back {
  position: absolute;
  background-image: url(../../../../assets/img/back.png);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  margin: 20px 0 10px 0;
  width: calc(80% + 40px);
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9998;
}
@media screen and (max-width: 1170px) {
  .header {
    justify-content: space-around;
  }
}
@media screen and (max-width: 950px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .header-right {
    margin-top: 20px;
  }
}

.logo {
  background-image: url(../../../../assets/img/back.gif);
  background-size: cover;
  z-index: 1;
  width: 318px;
  height: 108px;
  float: right;
}
@media screen and (max-width: 1170px) {
  .logo {
    background-image: url(../../../../assets/img/logo.gif);
    width: 100px;
    height: 130px;
  }
}
@media screen and (max-width: 950px) {
  .logo {
    background-image: url(../../../../assets/img/back.gif);
    width: 218px;
    height: 70px;
  }
}

.header-body {
  background-color: #427a8d !important;
  padding: 15px 35px 15px 15px !important;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media screen and (max-width: 1170px) {
  .header-body {
    padding: 10px !important;
  }
}

@media screen and (max-width: 1170px) {
  .column-demo {
    margin-top: 40px;
  }
}

.reg-card {
  min-width: 250px !important;
  padding: 20px 35px !important;
}
@media screen and (max-width: 550px) {
  .reg-card {
    padding: 20px 20px !important;
    min-width: 230px !important;
  }
}

.reg-card mat-form-field {
  width: 100%;
  margin: 0px;
}

.form-body {
  align-items: center;
}

.form-header {
  margin-bottom: 10px;
  padding: 15px !important;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 18px;
}

.block {
  max-width: 1200px;
  width: 80%;
  margin: 10px 0;
}
@media screen and (max-width: 550px) {
  .block {
    padding: 20px 10px !important;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 950px) {
  .parent.content {
    flex-direction: column;
  }
}

.content {
  justify-content: center;
}

.left.content {
  flex: 4;
  padding: 20px 40px;
}
@media screen and (max-width: 950px) {
  .left.content {
    padding: 20px 20px;
  }
}

.left.content.narrow {
  flex: 2;
}

.right.content {
  flex: 2;
  align-items: center;
}

.right.content.wide {
  flex: 4;
  align-items: center;
}

img {
  width: 100%;
}

.login-form {
  align-items: center;
}
@media screen and (max-width: 550px) {
  .login-form {
    flex-direction: column;
    padding: 0px 0px !important;
  }
}

.login-card {
  min-width: 270px;
}
@media screen and (max-width: 550px) {
  .login-card mat-form-field {
    margin: 0px;
    width: 100%;
  }
}

.absLabel {
  position: absolute;
  z-index: 9999;
  top: -32px;
  left: -20px;
  transform: rotate(-20deg);
  user-select: none;
  background-color: #ed7e28;
  color: white;
  text-shadow: 0px 0px 10px #969696;
}

mat-form-field {
  margin-right: 10px;
}

.footer {
  justify-content: center;
  padding: 10px 20px !important;
}
@media screen and (max-width: 550px) {
  .footer {
    padding: 10px !important;
  }
}

.social a {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=index.component.css.map */
