<div class="back">
    <div class="logo"></div>
    <div class="content">
        <md-card class="video-content">
            <iframe class="video" src="https://www.youtube.com/embed/nNXGbQ_rubQ" frameborder="0" allowfullscreen></iframe>
        </md-card>
        <md-tab-group class="auth">
            <md-tab [label]="language[lang].reg">
                <form>
                    <md-input-container>
                        <input mdInput [placeholder]="language[lang].name" [(ngModel)]="user.firstName" name="first" value="">
                    </md-input-container>
                    <md-input-container>
                        <input mdInput [placeholder]="language[lang].sname" [(ngModel)]="user.lastName" name="last" value="">
                    </md-input-container>
                    <md-input-container>
                        <input type="email" mdInput [placeholder]="language[lang].email" [(ngModel)]="user.email" name="mail" value="">
                    </md-input-container>
                    <md-input-container>
                        <input type="password" mdInput [placeholder]="language[lang].pass" [(ngModel)]="user.password" name="pass" value="">
                    </md-input-container>
                </form>
                <button md-fab [mdTooltip]="language[lang].log" mdTooltipPosition="left" (click)="login()"><md-icon>create</md-icon></button>
            </md-tab>
            <md-tab [label]="language[lang].sign">
                <form>
                    <md-input-container>
                        <input type="text" mdInput [placeholder]="language[lang].email" [(ngModel)]="user.email" name="mail" value="">
                    </md-input-container>
                    <md-input-container>
                        <input type="password" mdInput [placeholder]="language[lang].pass" [(ngModel)]="user.password" name="pass" value="">
                    </md-input-container>
                    <button md-fab [mdTooltip]="language[lang].sup" mdTooltipPosition="left" (click)="log()"><md-icon>forward</md-icon></button>
                </form>
            </md-tab>
        </md-tab-group>
    </div>
    <md-card class="footer">
        <a href="https://vk.com/scrawlless" target="_blank">
            <button md-button>
                        <img class="icon" src="../../../assets/img/vk.svg" alt="VK">
                    </button>
        </a>
        <a href="https://facebook.com/scrawlless/" target="_blank">
            <button md-button>
                        <img class="icon" src="../../../assets/img/facebook.svg" alt="Facebook">
                    </button>
        </a>
        <a href="https://ok.ru/group/53562840252602" target="_blank">
            <button md-button>
                        <img class="icon" src="../../../assets/img/ok.svg" alt="OK.ru">
                    </button>
        </a>
    </md-card>
</div>