<mat-card *ngIf="user?.type == '1'" class="user-card">
    <div class="user-image" [ngStyle]="{'background-image': 'url(' + user?.img + ')'}">
        <div class="circle" [ngClass]="{'offline': true, 'online': user?.onlineStatus}"></div>
    </div>
    <div class="user-actions">
        <h1>{{ user.firstName + ' ' + user.lastName }}</h1>
        <div class="buttons" *ngIf="type == 'accepted'">
            <button mat-mini-fab (click)="viewProfileDialog(user?.id, 2);" [matTooltip]="language[lang].profile" matTooltipPosition="below"><mat-icon >person</mat-icon></button>
            <button mat-mini-fab (click)="createDialog(user?.id);" [matTooltip]="language[lang].chat" matTooltipPosition="below"><mat-icon>email</mat-icon></button>
            <button mat-mini-fab (click)="deleteFriend(user?.id)" [matTooltip]="language[lang].delFriend" matTooltipPosition="below"><mat-icon>cancel</mat-icon></button>
        </div>
        <div class="buttons" *ngIf="type == 'incom'">
            <button mat-mini-fab (click)="viewProfileDialog(user?.id, 0)" [matTooltip]="language[lang].profile" matTooltipPosition="below"><mat-icon >person</mat-icon></button>
            <button mat-mini-fab (click)="acceptFriend(user?.id)" [matTooltip]="language[lang].acceptReq" matTooltipPosition="below"><mat-icon >done</mat-icon></button>
            <button mat-mini-fab (click)="declineFriend(user?.id)" [matTooltip]="language[lang].decline" matTooltipPosition="below"><mat-icon>close</mat-icon></button>
        </div>
        <div class="buttons" *ngIf="type == 'outcom'">
            <button mat-mini-fab (click)="viewProfileDialog(user?.id, 1)" [matTooltip]="language[lang].profile" matTooltipPosition="below"><mat-icon >person</mat-icon></button>
            <button mat-mini-fab (click)="cancelRequest(user?.id)" [matTooltip]="language[lang].cancelReq" matTooltipPosition="below"><mat-icon >schedule</mat-icon></button>
        </div>
    </div>
</mat-card>