<mat-tab-group>
    <mat-tab class="tabs" [label]="language[lang].forMobile">
        <div class="content">
            <div class="no-devices">
                <p class="search-info">{{language[lang].mobileTip}}</p>
            </div>
            <button mat-raised-button [routerLink]="['/mobile']" class="primary"><i class="material-icons">keyboard</i></button>
            <div class="no-devices">
                <p class="search-info">{{language[lang].appTip}}</p>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>