<div class="main-bar">
    <div class="logo"></div>

    <div class="sub-bar">
        <div class="date">
            <mat-card class="date-el">
                <mat-icon class="icon">date_range</mat-icon>
                <a id="day">{{ mydate | date:'EEE' | capitalize }}</a>
            </mat-card>
            <mat-card class="date-el">
                <a id="date">{{ mydate | date:'d' }}</a>
            </mat-card>
            <mat-card class="date-el">
                <a id="month">{{ mydate | date:'MMMM' | decapitalize | month }}</a>
            </mat-card>
        </div>

        <div class="menu-buton">
            <button *ngIf="!loading" mat-fab [matTooltip]="language[lang].profile" matTooltipPosition="before" class="avatar" [ngStyle]="{'background-image': 'url(' + user?.img + ')'}" [matMenuTriggerFor]="menu"></button>
        </div>
    </div>
</div>

<user-sidebar *ngIf="mode == 1;"></user-sidebar>
<teacher-sidebar *ngIf="mode == 2;"></teacher-sidebar>

<div class="content">
    <router-outlet></router-outlet>
</div>



<mat-menu #menu="matMenu" class="popup">
    <mat-card *ngIf="!loading" class="card">
        <div class="menu-content">
            <div class="user-image" [ngStyle]="{'background-image': 'url(' + user?.img + ')'}"></div>
            <div class="info-div">
                <h2 class="user-name">{{user?.firstName + ' ' + user?.lastName}}</h2>
                <div class="card-buttons">
                    <button mat-mini-fab [matTooltip]="language[lang].profile" (click)="viewProfileDialog(user?.id, 3)"><mat-icon>person</mat-icon></button>
                    <button mat-mini-fab [matTooltip]="language[lang].logout" routerLink="/" routerLinkActive="active" onclick="remToken()" (click)="logOut()"><mat-icon>directions_run</mat-icon></button>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-progress-spinner *ngIf="loading"></mat-progress-spinner>
</mat-menu>

<!--<img src onerror="setToken();">-->